#header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    padding-bottom: 0px;


}
#header-title {
    font-size:xxx-large;
    font-weight: 400;
    /* margin-bottom: 20px; */
    background-color: white;
    width: fit-content;
    /* padding: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: dashed;

}

#header-description {
    font-size:large;
    background-color: white;
    height: 60px;
    width: 450px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
 
}

