#recipe-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 900px; */
    width:100%;
    padding: 0px;
}
#results-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-container {
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px;
    border-style: solid;
    border-color: black;
    max-width: 1000px;
    height: auto;
    min-width: 600px;
    background-color:beige;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.recipe-name {
    font-size: larger;
}
 .recipe-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
 }

 .recipe-image{
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
 }

 .recipe-url:hover {
    text-decoration: underline;
    cursor: pointer;
 }